[submodule "lib/AIS_IoT_4G"]
	path = lib/AIS_IoT_4G
	url = https://github.com/gravitech-engineer/AIS_IoT_4G.git
[submodule "lib/ArtronShop_Magellan"]
	path = lib/ArtronShop_Magellan
	url = https://github.com/ArtronShop/ArtronShop_Magellan.git
[submodule "lib/PCA9557-arduino"]
	path = lib/PCA9557-arduino
	url = https://github.com/maxpromer/PCA9557-arduino.git
[submodule "lib/BH1750"]
	path = lib/BH1750
	url = https://github.com/claws/BH1750.git
[submodule "lib/uFire_SHT20"]
	path = lib/uFire_SHT20
	url = https://github.com/u-fire/uFire_SHT20.git
